* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background: ghostwhite;
    position: relative;
}

span {
    cursor: default;
}

header, footer {
    background: snow;
}

header > nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > img {
    cursor: pointer;
}

.fullWidth {
    width: 100%;
}

main {
    padding-bottom: 24px;
}

#user-name {
    text-align: center;
    cursor: default;
}

#user-info {
    font-family: "Comic Sans MS", sans-serif;
    text-align: end;
}


#images {
    display: flex;
    flex-wrap: wrap;
}

#images > img {
    width: calc(100% / 3);
}

footer {
    height: 24px;
    position: absolute;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
